.filepond--drop-label, .filepond--drop-label label, .filepond--drop-label span {
    cursor: pointer;
}

fieldset.filepond--file-wrapper {
    margin: 0 !important;
}

.filepond-wrapper > input[type="file"] {
    visibility: hidden;
}
